<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- google analytics - i will not share this data with google -->
			{% include analytics.html %}
			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="https://www.linkedin.com/in/jsr1611/">LinkedIn</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jumanazarsaidov@gmail.com">Email Me!</a></li>
	        		<li><a href="https://github.com/jsr1611">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
